<?xml version="1.0"?>
<launch>

   <arg name="mode"/>
   <arg name="gps_name"/>
   <arg name="robot_name"/>
   <arg name="robot_parent_link"/>

   <arg name="type"/>
   <arg name="model"/>
   <arg name="rate"/>
   <arg name="xyz"/>
   <arg name="xacro_directory" default="$(env HOME)/.ros/log/latest/$(arg robot_name)/description"/>

   <arg name="nmea_sentence_topic" />
   <arg name="fix_topic"/>
   <arg name="vel_topic"/>


   <param name="rate" value="$(arg rate)"/>
   <rosparam param="xyz" subst_value="True">$(arg xyz)</rosparam>
   <rosparam command="load" file="$(find romea_gps_description)/config/$(arg type)_$(arg model)_eure.yaml"/>

   <group if="$(eval arg('mode') != 'replay')">
      <param name="/records/$(arg robot_name)/$(arg gps_name)/fix_topic" value="$(arg fix_topic)"/>
      <param name="/records/$(arg robot_name)/$(arg gps_name)/vel_topic" value="$(arg vel_topic)"/>
      <param name="/records/$(arg robot_name)/$(arg gps_name)/nmea_sentence_topic" value="$(arg nmea_sentence_topic)"/>
   </group>

   <param name="/$(arg robot_name)/description/$(arg gps_name)" type="str"
          command="$(find romea_gps_bringup)/script/make_xacro.py
                   name=$(arg gps_name)
                   xyz='$(arg xyz)'
                   rate=$(arg rate)
                   parent_link=$(arg robot_parent_link)
                   xacro_directory=$(arg xacro_directory)" />


</launch>
