<?xml version="1.0"?>
<launch>

   <arg name="xyz"/>
   <arg name="rpy"/>
   <arg name="rate"/>
   <arg name="mode"/>
   <arg name="gps_name" default="gps"/>
   <arg name="robot_parent_link" value="base_link"/>

   <arg name="embedded" default="false"/>
   <arg name="port" if="$(eval arg('embedded') == false)"/>
   <arg name="baudrate" if="$(eval arg('embedded') == false)"/>
   <arg name="driver_pkg" default="nmea_navsat_driver" if="$(eval arg('embedded') == false)"/>

   <arg name="nmea_sentence_topic" default="/$(arg robot_name)/$(arg gps_name)/nmea_sentence"/>
   <arg name="fix_topic" default="/$(arg robot_name)/$(arg gps_name)/fix"/>
   <arg name="vel_topic" default="/$(arg robot_name)/$(arg gps_name)/vel"/>

   <group ns="$(arg name)">

      <include file="$(find romea_gps_bringup)/launch/common/gps_common.launch">
         <arg name="mode" value="$(arg mode)"/>
         <arg name="gps_name" value="$(arg gps_name)"/>
         <arg name="robot_name" value="$(arg robot_name)"/>
         <arg name="robot_parent_link" value="$(arg robot_parent_link)"/>
         <arg name="xyz" value="$(arg xyz)"/>
         <arg name="rate" value="$(arg rate)"/>
         <arg name="type" value="ublox"/>
         <arg name="model" value="evk_m8"/>
         <arg name="robot_parent_link" value="$(arg robot_parent_link)"/>
         <arg name="nmea_sentence_topic" value="$(arg nmea_sentence_topic)"/>
         <arg name="fix_topic" value="$(arg fix_topic)"/>
         <arg name="vel_topic" value="$(arg vel_topic)"/>

      </include>

      <group if="$(eval arg('mode') == 'live' and arg('embedded') == false)">

         <include file="$(find romea_gps_bringup)/launch/common/gps_nmea_driver.launch">
            <arg name="gps_name"  value="$(arg gps_name)"/>
            <arg name="port" value="$(arg port)"/>
            <arg name="baudrate" value="$(arg baudrate)"/>
            <arg name="driver_pkg" value="$(arg driver_pkg)"/>
            <arg name="nmea_sentence_topic" value="$(arg nmea_sentence_topic)"/>
            <arg name="fix_topic" value="$(arg fix_topic)"/>
            <arg name="vel_topic" value="$(arg vel_topic)"/>
         </include>

      </group>

    </group>

</launch>
