<?xml version="1.0"?>
<robot name="gps" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro
    name="gps_sensor"
    params="prefix mode xyz parent_link rate dual_antenna name ros_namespace">

    <xacro:property name="link_name" value="${prefix}${name}_link" />
    <xacro:property name="joint_name" value="${prefix}${name}_joint" />
    <xacro:property name="parent_link_name" value="${prefix}${parent_link}" />

    <xacro:property name="nmea_topic_name" value="${name}/nmea_sentence" />
    <xacro:property name="fix_topic_name" value="${name}/fix" />
    <xacro:property name="vel_topic_name" value="${name}/vel" />

    <!-- <gazebo reference="${link_name}"> -->
    <!-- <material>Gazebo/White</material> -->
    <!-- </gazebo> -->

    <link name="${link_name}">
      <inertial>
        <mass value="1" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <cylinder length="0.05" radius="0.1" />
        </geometry>
      </visual>
    </link>

    <joint name="${joint_name}" type="fixed">
      <origin xyz="${xyz}" rpy="0 0 0" />
      <parent link="${parent_link_name}" />
      <child link="${link_name}" />
    </joint>

    <xacro:if value="${'simulation' in  mode}">
      <xacro:include filename="$(find romea_gps_description)/urdf/gps.simulation.xacro" />
      <xacro:gps_sensor_simulation
        prefix="${prefix}"
        mode="${mode}" 
        name="${name}"
        rate="${rate}" 
        link_name="${link_name}" 
        dual_antenna="${dual_antenna}" 
        ros_namespace="${ros_namespace}"/>
    </xacro:if>

  </xacro:macro>

</robot>
