<?xml version="1.0"?>
<robot name="gps" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro
    name="gps_sensor_simulation"
    params="prefix mode link_name rate name dual_antenna ros_namespace">

    <xacro:if value="${'gazebo' in  mode}">
      <gazebo reference="${link_name}">
        <material>Gazebo/Green</material>

        <sensor type="gps" name="gps_sensor">
          <pose>0 0 0 0 0 0</pose>
          <always_on>1</always_on>
          <update_rate>${rate}</update_rate>

          <topic>${ros_namespace}/navsat</topic>
          <gz_frame_id>${link_name}</gz_frame_id>  <!-- used only with gazebo 6 or lower -->
          <ignition_frame_id>${link_name}</ignition_frame_id> <!-- used by gazebo 7 or higher-->

          <gps>
            <position_sensing>
              <horizontal>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>0.0</stddev>
                  <bias_mean>0.0</bias_mean>
                  <bias_stddev>0.0</bias_stddev>
                </noise>
              </horizontal>
              <vertical>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>0.0</stddev>
                  <bias_mean>0.0</bias_mean>
                  <bias_stddev>0.0</bias_stddev>
                </noise>
              </vertical>
            </position_sensing>
            <velocity_sensing>
              <horizontal>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>0.0</stddev>
                  <bias_mean>0.0</bias_mean>
                  <bias_stddev>0.0</bias_stddev>
                </noise>
              </horizontal>
              <vertical>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>0.0</stddev>
                  <bias_mean>0.0</bias_mean>
                  <bias_stddev>0.0</bias_stddev>
                </noise>
              </vertical>
            </velocity_sensing>
          </gps>

          <xacro:if value="${'classic' in mode}">
            <plugin name="driver" filename="libromea_gazebo_ros_gps_sensor.so">
              <ros>
                <namespace>${ros_namespace}</namespace>
              </ros>
              <frame_name>${link_name}</frame_name>
              <dual_antenna>${dual_antenna}</dual_antenna>
            </plugin>
          </xacro:if>

        </sensor>
      </gazebo>
    </xacro:if>

  </xacro:macro>

</robot>