<?xml version="1.0"?>
<!-- <sensor name="custom_odometer" type="custom" gz:type="odometer"> -->
<robot name="gps" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="common_sensing">
    <position_sensing>
      <horizontal>
        <noise type="gaussian">
          <mean>0.1</mean>
          <stddev>0.0</stddev>
          <bias_mean>0.0</bias_mean>
          <bias_stddev>0.0</bias_stddev>
        </noise>
      </horizontal>
      <vertical>
        <noise type="gaussian">
          <mean>0.1</mean>
          <stddev>0.0</stddev>
          <bias_mean>0.0</bias_mean>
          <bias_stddev>0.0</bias_stddev>
        </noise>
      </vertical>
    </position_sensing>
    <velocity_sensing>
      <horizontal>
        <noise type="gaussian">
          <mean>0.1</mean>
          <stddev>0.0</stddev>
          <bias_mean>0.0</bias_mean>
          <bias_stddev>0.0</bias_stddev>
        </noise>
      </horizontal>
      <vertical>
        <noise type="gaussian">
          <mean>0.1</mean>
          <stddev>0.0</stddev>
          <bias_mean>0.0</bias_mean>
          <bias_stddev>0.0</bias_stddev>
        </noise>
      </vertical>
    </velocity_sensing>
  </xacro:macro>

  <xacro:macro
    name="gps_sensor_simulation"
    params="prefix mode link_name name configuration ros_namespace">

    <xacro:property name="rate"
      value="${configuration['rate']}" />
    <xacro:property name="dual_antenna"
      value="${configuration['dual_antenna']}" />

    <xacro:if value="${'gazebo' in  mode}">

      <gazebo reference="${link_name}">
        <material>Gazebo/Green</material>

        <xacro:if value="${'classic' in mode}">
          <sensor type="gps" name="gps_sensor">
            <pose>0 0 0 0 0 0</pose>
            <always_on>1</always_on>
            <update_rate>${rate}</update_rate>

            <gps>
              <xacro:common_sensing />
            </gps>

            <plugin name="driver" filename="libromea_gazebo_ros_gps_sensor.so">
              <ros>
                <namespace>${ros_namespace}</namespace>
              </ros>
              <frame_name>${link_name}</frame_name>
              <dual_antenna>${dual_antenna}</dual_antenna>
            </plugin>

          </sensor>
        </xacro:if>

        <xacro:if value="${'classic' not in mode}">

          <sensor type="custom" name="gps_sensor" gz:type="gps"
            xmlns:gz="http://gazebosim.org/schema/gz">
            <pose>0 0 0 0 0 0</pose>
            <always_on>1</always_on>
            <update_rate>${rate}</update_rate>


            <topic>${ros_namespace}/nmea</topic>
            <gz_frame_id>${link_name}</gz_frame_id>
            <ignition_frame_id>${link_name}</ignition_frame_id>
            <dual_antenna>${dual_antenna}</dual_antenna>

            <gz:gps>
              <xacro:common_sensing />
            </gz:gps>

            <plugin filename="romea_gps_gazebo" name="romea::gz::NmeaGps" />

          </sensor>
        </xacro:if>

      </gazebo>
    </xacro:if>
  </xacro:macro>

</robot>